<!DOCTYPE html>
<html>
	<head>
		<title>HST | Registration</title>
		{% load staticfiles %}
		<script src="{% static 'main/js/jquery.js' %}" charset="utf-8"></script>
		<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<link rel="icon" type="image/png" href="{% static 'main/images/favicon.ico/favicon.ico' %}">
		<script type="text/javascript">
			var p_family_phone_type = "{{p.family.phone_type}}"
			$(document).ready(function() {
				if (p_family_phone_type) {
					set('#phone_type',p_family_phone_type)
				}
			})
		</script>
	</head>
	<body id="register_familyinfo">
			<h1>New Family Registration</h1>
			<h2>Step 1: Family Information</h2>
			<span class="instructions">Enter the family surname, as used by the children, as well as basic contact information.  Create a username and password for the Family.</span>
		<center>
			<form method="post">{% csrf_token %}
				<table>
					<tr>
						<td>Family Last Name:</td>
						<td><input type="text" name="last" value="{{p.family.last}}"></td>
						<td class="error">{{e.family.last}}</td>
					</tr>
					<tr>
						<td>Main Phone Number:</td>
						<td><input type="text" name="phone" value="{{p.family.phone}}"></td>
						<td>
							<select name="phone_type" id="phone_type">
								<option value="Home">Home</option>
								<option value="Cell">Cell</option>
								<option value="Work">Work</option>
							</select>
						<span class="error">{{e.family.phone}}{{e.family.phone_type}}</td></span>
						</td>
					</tr>
					<tr>
						<td>Main Family Email:</td>
						<td><input type="text" name="email" value="{{p.family.email}}"></td>
						<td class="error">{{e.family.email}}</td>
					</tr>
					<tr>
						<td>Username:</td>
						<td><input type="text" name="username" value="{{p.user.username}}"></td>
						<td class="error">{{e.user.username}}</td>
					</tr>
					<tr>
						<td>Password:</td>
						{% if password_set %}
						<td><a href="/changepassword">Change</a></td>
						<td></td>
						{% else %}
						<td><input type="password" name="password" value="{{p.user.password}}"></td>
						<td class="error">{{e.user.password}}</td>
					</tr>
					<tr>
						<td>Confirm Password:</td>
						<td><input type="password" name="pw_confm" value="{{p.user.pw_confm}}"></td>
						<td class="error">{{e.user.pw_confm}}</td>
						{% endif %}
					</tr>
				</table>
			<button>Next >></button>
			</form>
		</center>
	</body>
</html>