<!DOCTYPE html>
<html>
<head>
	<title>HST | Registration</title>
	{% load staticfiles %}
	<script src="{% static 'main/js/jquery.js' %}" charset="utf-8"></script>
	<style type="text/css">
		.parent {
			display: inline-block;
		}
		.info {
			margin: 0 auto;
		}
		.skip_button {
			display: inline;
			border: solid gray 1px;
			font-size: 14px;
			padding: 2px;
			border-radius: 5px;
			font-family: sans-serif;
		}
		.skipped {
			color: gray;
		}
	</style>
	<script type="text/javascript">

		function Parent(name,spouse) {
			var fields = ['first','last','alt_phone','alt_email']
			this.skipped = false
			for (var i = 0; i < fields.length; i++) {
				this[fields[i]] = ''
			}
			this.save = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					this[field] = $('#'+name+'_'+field)[0].value
				}
			}
			this.call = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$('#'+name+'_'+field)[0].value = this[field]
				}
			}
			this.clear = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$('#'+name+'_'+field)[0].value = ''
				}
			}
			this.skip = function() {
				this.save()
				this.clear()
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$('#'+name+'_'+field)[0].disabled = true
				}
				$('#'+name).addClass('skipped')
				$('#skip_'+name)[0].innerText = 'Unskip'
				$('#'+name+'_skipped')[0].value = 'true'
				this.skipped = true
			}
			this.unskip = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$('#'+name+'_'+field)[0].disabled = false
				}
				this.call()
				$('#'+name).removeClass('skipped')
				$('#skip_mom')[0].innerText = 'Skip'
				$('#'+name+'_skipped')[0].value = 'false'
				this.skipped = false	
			}
			this.button = function() {
				if (this.skipped) {
					this.unskip()
				} else {
					if ($('#'+spouse+'_skipped')[0].value == 'true') {

						$('#skip_'+spouse).click()
					}
					this.skip()
				}
			}
		}

		$(document).ready(function() {

			var mother = new Parent('mom','dad')
			var father = new Parent('dad','mom')

			$('#skip_mom').click(function() {
				mother.button()
			})

			$('#skip_dad').click(function() {
				father.button()
			})
	
		})
		
	</script>
</head>
<body>
Please enter the contact information for the parents.  You may skip one parent for now, (but not both) and add the information later.  Only the First Name is required.  Leave other fields blank if they are the same as the Family Information.
	<center>
		<form>
			<div class="parent" id="mom">
				<center><h2>Mother</h2></center>
				<table>
					<input type="hidden" id="mom_skipped" nafme="mom_skipped" value="false">
					<tr>
						<td><b>First Name:</b></td>
						<td><input type="text" name="mom_first" id="mom_first"></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input type="text" name="mom_last" id="mom_last"></td>
					</tr>
					<tr>
						<td>Alternate Phone:</td>
						<td><input type="text" name="mom_alt_phone" id="mom_alt_phone"></td>
					</tr>
					<tr>
						<td>Alternate Email:</td>
						<td><input type="text" name="mom_alt_email" id="mom_alt_email"></td>
					</tr>
				</table>
				<div class="skip_button" id="skip_mom">Skip</div>
			</div>
			<div class="parent" id="dad">
				<center><h2>Father</h2></center>
				<table>
					<input type="hidden" id="dad_skipped" namfe="dad_skipped" value="false">
					<tr>
						<td><b>First Name:</b></td>
						<td><input type="text" name="dad_first" id="dad_first"></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input type="text" name="dad_last" id="dad_last"></td>
					</tr>
					<tr>
						<td>Alternate Phone:</td>
						<td><input type="text" name="dad_alt_phone" id="dad_alt_phone"></td>
					</tr>
					<tr>
						<td>Alternate Email:</td>
						<td><input type="text" name="dad_alt_email" id="dad_alt_email"></td>
					</tr>
				</table>
				<div class="skip_button" id="skip_dad">Skip</div>
			</div>
			<button type="submit">Next >></button>
		</form>
		*If different from Family name
	</center>
</body>
</html>