<!DOCTYPE html>
<html>
<head>
	<title>HST | Registration</title>
	{% load staticfiles %}
	<script src="{% static 'main/js/jquery.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
	<link rel="icon" type="image/png" href="{% static 'main/images/favicon.ico/favicon.ico' %}">
	<style type="text/css">
		.parent {
			display: inline-block;
		}
		.info {
			margin: 0 auto;
		}
		.skip_button {
			display: inline;
			border: solid gray 1px;
			font-size: 14px;
			padding: 2px;
			border-radius: 5px;
			font-family: sans-serif;
		}
		.skipped {
			color: gray;
		}
		.skipped .error {
			color: pink;
		}
	</style>
	<script type="text/javascript">

		function Parent(name,spouse) {
			var fields = ['first','last','alt_phone','alt_email']
			this.skipped = false
			for (var i = 0; i < fields.length; i++) {
				this[fields[i]] = ''
			}
			this.save = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					this[field] = $$('#'+name+'_'+field).value
				}
			}
			this.call = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$$('#'+name+'_'+field).value = this[field]
				}
			}
			this.clear = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$$('#'+name+'_'+field).value = ''
				}
			}
			this.skip = function() {
				this.save()
				this.clear()
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$$('#'+name+'_'+field).disabled = true
				}
				$('#'+name).addClass('skipped')
				$$('#skip_'+name).innerText = 'Unskip'
				$$('#'+name+'_skipped').value = 'true'
				this.skipped = true
			}
			this.unskip = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					$$('#'+name+'_'+field).disabled = false
				}
				this.call()
				$('#'+name).removeClass('skipped')
				$$('#skip_'+name).innerText = 'Skip'
				$$('#'+name+'_skipped').value = 'false'
				this.skipped = false	
			}
			this.button = function() {
				if (this.skipped) {
					this.unskip()
				} else {
					if ($$('#'+spouse+'_skipped').value == 'true') {
						$('#skip_'+spouse).click()
					}
					this.skip()
				}
			}
		}

		$(document).ready(function() {

			var mother = new Parent('mom','dad')
			var father = new Parent('dad','mom')

			$('#skip_mom').click(function() {
				mother.button()
			})

			$('#skip_dad').click(function() {
				father.button()
			})
	
		})
		
	</script>
</head>
<body id="register_parentsinfo">
	<h1>New Family Registration</h1>
	<h2>Step 2: Parents Information</h2>
	<span class="instructions">Please enter the information for at least one parent.  <b>Bold</b> fields are required.  Skip any fields that are the same as the Family Information.  (Note: Gray placeholder texts are default values.  Simply type over them and they will disappear.)  </span>
	<center>
		<form method="post">{% csrf_token %}
			<div class="parent" id="mom">
				<center><h3>Mother</h3></center>
				<table>
					<input 
					type="hidden" 
					id="mom_skipped" 
					name="mom_skipped" 
					value="false">
					<tr>
						<td><b>First Name:</b></td>
						<td><input 
							type="text" 
							name="mom_first" 
							id="mom_first"
							value="{{p.mom.mom_first}}">
						</td>
						<td class="error">{{e.mom.first}}</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input 
							type="text" 
							name="mom_last" 
							id="mom_last" 
							placeholder="{{last}}"
							value="{{p.mom.mom_last}}">
						</td>
						<td class="error">{{e.mom.last}}</td>
					</tr>
					<tr>
						<td>Cell Phone:</td>
						<td><input 
							type="text" 
							name="mom_alt_phone" 
							id="mom_alt_phone" 
							value="{{p.mom.mom_alt_phone}}">
						</td>
						<td class="error">{{e.mom.alt_phone}}</td>
					</tr>
					<tr>
						<td>Alternate Email:</td>
						<td><input 
							type="text" 
							name="mom_alt_email" 
							id="mom_alt_email" 
							placeholder="{{email}}"
							value="{{p.mom.mom_alt_email}}">
						</td>
						<td class="error">{{e.mom.alt_email}}</td>
					</tr>
				</table>
				<div class="skip_button" id="skip_mom">Skip</div>
			</div>
			<div class="parent" id="dad">
				<center><h3>Father</h3></center>
				<table>
					<input 
					type="hidden" 
					id="dad_skipped" 
					name="dad_skipped" 
					value="false">
					<tr>
						<td><b>First Name:</b></td>
						<td><input 
							type="text" 
							name="dad_first" i
							id="dad_first"
							value="{{p.dad.dad_first}}">
						</td>
						<td class="error">{{e.dad.first}}</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input 
							type="text" 
							name="dad_last" 
							id="dad_last" 
							placeholder="{{last}}"
							value="{{p.dad.dad_last}}">
						</td>
						<td class="error">{{e.dad.last}}</td>
					</tr>
					<tr>
						<td>Cell Phone:</td>
						<td><input 
							type="text" 
							name="dad_alt_phone" 
							id="dad_alt_phone" 
							value="{{p.dad.dad_alt_phone}}">
						</td>
						<td class="error">{{e.dad.alt_phone}}</td>
					</tr>
					<tr>
						<td>Alternate Email:</td>
						<td><input 
							type="text" 
							name="dad_alt_email" 
							id="dad_alt_email" 
							placeholder="{{email}}"
							value="{{p.dad.dad_alt_email}}">
						</td>
						<td class="error">{{e.dad.alt_email}}</td>
					</tr>
				</table>
				<div class="skip_button" id="skip_dad">Skip</div>
			</div>
			<br><button type="submit">Next >></button>
		</form>
	</center>
</body>
</html>