<!DOCTYPE html>
<html>
<head>
	<title>HST | Registration</title>
	{% load staticfiles %}
	<link rel="icon" type="image/png" href="{% static 'main/images/favicon.ico/favicon.ico' %}">
	<script src="{% static 'main/js/jquery.js' %}" charset="utf-8"></script>
	<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
	<script src="{% static 'main/js/loremfamily.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<style type="text/css">
		#student_list_div,
		#student_form_div,
		#student_form {
			display: inline-block;
		}
		#student_form_div {
			border: solid black 1px;
			padding: 5px;
			display: none;
		}
		#height_ft, #height_in {
			width: 40px;
		}
		h3 {
			margin: 0 3px 7px;
			font-weight: normal;
		}
		#student_list td {
			text-align: center;
		}
		#student_list td:nth-child(1) {
			text-align: left;
		}
	</style>
	<script type="text/javascript">

		var fields = ['first','middle','alt_last','prefer','sex','birthday','grad_year','tshirt','alt_phone','alt_email']

		var family_last = '{{family.last}}'
		var reg_year = Number('{{reg_year}}')

		validations = custom_parse("{{validations}}")

		function zeropad(num, places) {
			num = Math.floor(num)
			var pad = ''
			for (var i = 0; i < places-String(num).length; i++) {
				pad += '0'
			}
			return pad + String(num)
		}

		function phone_format(num) {
			var cod  = zeropad(num / 10**7, 3)
			var mid  = zeropad(num % 10**7 / 10**4, 3)
			var last = zeropad(num % 10**4, 4)
			return `(${cod}) ${mid}-${last}`
		}

		function Student(sid) {
			this.sid = sid
			this.isNew = true
			this.exists = true
			for (var i = 0; i < fields.length; i++) {
				var field = fields[i]
				this[field] = $$('#'+field).value
			}
			this.height = Number($$('#height_ft').value) * 12 + Number($$('#height_in').value)
			this.height_ft = Math.floor(this.height / 12)
			this.height_in = this.height % 12
			this.height_tr = this.height ? `${this.height_ft}' ${this.height_in}"` : ``
			if (this.birthday) {
				this.birthday = {
					'year' : Number(this.birthday.substr(0,4)),
					'month': Number(this.birthday.substr(5,2)),
					'date' : Number(this.birthday.substr(8,2)),
				}
				if (this.birthday.year < reg_year % 100) {
					this.birthday.year += Math.floor(reg_year / 100) * 100
				} else if (this.birthday.year < 100) {
					this.birthday.year += Math.floor(reg_year / 100) * 100 - 100
				}
				this.birthday.js = new Date(this.birthday.year, this.birthday.month-1, this.birthday.date)
				this.birthday.db = `${zeropad(this.birthday.year,4)}-${zeropad(this.birthday.month,2)}-${zeropad(this.birthday.date,2)}`
			}
			this.grade = this.grad_year ? reg_year - this.grad_year + 12 : ''
			this.hst_age = reg_year - this.birthday.year - 1
			this.cur_age = function() {
				var now = new Date()
				var c_month = now.getMonth() + 1
				var c_date  = now.getDate()
				var had_birthday = c_month * 31 + c_date >= this.birthday.month * 31 + this.birthday.date
				var age_this_year = now.getFullYear() - this.birthday.year
				var age = age_this_year + (had_birthday ? 0 : -1)
				if (age != this.hst_age) {
					$('.footnote').show()
				}
				return age
			}
			this.isValid = function(validations) {
				for (var i = 0; i < validations.length; i++) {
					var regex = new RegExp(validations[i].regex)
					var field = validations[i].field
					if (!String(this[field]).match(regex)) {
						return false
					}
				}
				return true
			}
			this.show_errors = function(validations) {
				var error_tds = $('.error')
				for (var i = 0; i < error_tds.length; i++) {
					error_tds[i].innerText = ''
				}
				for (var i = 0; i < validations.length; i++) {
					var regex = new RegExp(validations[i].regex)
					var field = validations[i].field
					if (!String(this[field]).match(regex)) {
						$$('#'+field+'_error').innerText = validations[i].error
					}
				}
			}
			this.populate_form = function() {
				for (var i = 0; i < fields.length; i++) {
					var field = fields[i]
					set('#'+field, this[field])
				}				
				$$('#height_ft').value = this.height_ft
				$$('#height_in').value = this.height_in
				$$('#birthday').value = this.birthday.db
			}
			this.tr = function(index) {
				return `<tr id="s${index}"><td>${this.prefer ? this.prefer : this.first} ${this.alt_last ? this.alt_last : family_last}</td><td>${this.birthday ? this.hst_age : ''}${this.hst_age == this.cur_age() ? '' : '*'}</td><td>${this.sex}</td><td>${this.grade}</td><td>${this.height_tr}</td><td>${this.tshirt}</td><td>${this.alt_phone ? phone_format(this.alt_phone) : ''}</td><td>${this.alt_email ? this.alt_email : ''}</td><td><button class="edit">Edit</button><button class="delete">Delete</button></td></tr>`
			}
			this.json = function() {
				var columns = ['first','middle','alt_last','prefer','sex','grad_year','height','alt_phone','alt_email','tshirt','exists','isNew']
				json_obj = {}
				for (var i = 0; i < columns.length; i++) {
					var col = columns[i]
					if (this[col] || this[col] === false) {
						json_obj[col] = this[col]
					}
				}
				json_obj.birthday = this.birthday.db
				return json_obj
			}
		}

		function clear_form() {
			for (var i = 0; i < fields.length; i++) {
				var field = fields[i]
				$$('#'+field).value = ''
				$$('#'+field+'_error').innerText = ''
			}
			$$('#height_ft').value = ''
			$$('#height_in').value = ''
			update_prefer_placeholder()
		}

		function update_prefer_placeholder() {
			$$('#prefer').placeholder = $$('#first').value
		}

		function form_display(type) {
			form_type = type
			if (type) {
				$('#student_form_div').css('display','inline-block')
				if (type == 1) {
					$$('#student_form_type').innerText = 'New Student:'
				} else if (type == 2) {
					$$('#student_form_type').innerText = 'Edit Student:'
				}
			} else {
				$('#student_form_div').css('display','none')
			}
		}

		function find_student(sid) {
			for (var i = 0; i < student_bank.length; i++) {
				var student = student_bank[i]
				if (student.sid == sid) {
					student.index = i
					return student
				}
			}
		}

		function save_student(sid, student) {
			if (form_type == 1) {
				student_bank.push(student)
				$('#student_list').append(student.tr(sid))
			} else if (form_type == 2) {
				$$('#s'+sid).outerHTML = student.tr(sid)
				x = find_student(sid).index
				student_bank[x] = student
			}
			dynamic(sid)
			form_display(0)
			clear_form()
		}

		function edit_student(sid) {
			current_sid = sid
			var student = find_student(sid)
			student.populate_form()
			form_display(2)
		}

		function delete_student(sid) {
			find_student(sid).exists = false
			if (sid == current_sid) {
				form_display(0)
			}
			$('#s'+sid).hide()
		}

		// Add functionality to dynamically created Edit and Delete buttons
		function dynamic(sid) {
			trid = $('#s'+sid)
			trid.find('.edit').click(function() {
				edit_student(sid)
			})
			trid.find('.delete').click(function() {
				delete_student(sid)
			})
		}

		// Array to hold the students until page is submitted
		var student_bank = []

		// Which student is currently being created or edited
		var current_sid = 0

		// 0 = Form Hidden, 1 = New Student, 2 = Edit Student
		var form_type = 0

		$(document).ready(function() {

			$('#add_student').click(function() {
				clear_form()
				if (form_type == 0) {
					current_sid++
					form_display(1)
				}
			})

			$('#save_student').click(function() {
				var student = new Student(current_sid)
				if (student.isValid(validations)) {
					save_student(current_sid, student)
					$('#submit').show()
				} else {
					student.show_errors(validations)
				}
			})

			$('#cancel').click(function() {
				form_display(0)
				clear_form()
			})

			$('#first').focusout(function() {
				update_prefer_placeholder()
			})

			$('#submit').click(function() {
				students_json = []
				for (var i = 0; i < student_bank.length; i++) {
					students_json.push(student_bank[i].json())
				}
				$$('#data').value = JSON.stringify(students_json)
				// console.log(students_json)
				$('#submission').submit()
			})

		})

	</script>

	
</head>
<body id="register_studentsinfo">
	<h1>New Family Registration</h1>
	<h2>Step 3: Students Information</h2>
	<span class="instructions">Click the Add Student button to register your students for the {{reg_year|add:-1}}-{{reg_year}} school year with HST.  (You will sign them up for their classes on the next screen.)  Fields in <b>bold</b> are required.  Leave placeholders in other fields if they are the same as the Family.</span>
	<div>
		<div id="student_list_div">
			<table id="student_list">
				<thead>
					<th>Name</th>
					<th>Age</th>
					<th>Sex</th>
					<th>Grade</th>
					<th>Height</th>
					<th>T-Shirt</th>
					<th>Phone</th>
					<th>Email</th>
					<th></th>
				</thead>
			</table>
			<button id="add_student">Add Student</button>
		</div>
		<div id="student_form_div">
			<h3 id="student_form_type">Hello</h3>
			<table id="student_form">
				<tr><td><b>First Name:</b></td>
					<td><input type="text" name="first" id="first"></td>
					<td class="error" id="first_error"></td>
				</tr>
				<tr><td>Middle Name:</td>
					<td><input type="text" name="middle" id="middle"></td>
					<td class="error" id="middle_error"></td>
				</tr>
				<tr><td>Last Name:</td>
					<td><input type="text" name="alt_last" id="alt_last" placeholder="{{family.last}}"></td>
					<td class="error" id="alt_last_error"></td>
				</tr>
				<tr><td>Preferred Name:</td>
					<td><input type="text" name="prefer" id="prefer"></td>
					<td class="error" id="prefer_error"></td>
				</tr>
				<tr><td><b>Sex:</b></td>
					<td>
						<select name="sex" id="sex">
							<option></option>
							<option value="M">Male</option>
							<option value="F">Female</option>
							<!-- <option value="H">Some wierd-ass hippy crap</option> -->
						</select>
					</td>
					<td class="error" id="sex_error"></td>
				</tr>
				<tr><td><b>Birthday:</b></td>
					<td><input type="date" name="birthday" id="birthday"></td>
					<td class="error" id="birthday_error"></td>
				</tr>
				<tr><td>Grade:</td>
					<td>
						<select name="grad_year" id="grad_year">
							<option></option>
							{% for g in grades %}
							<option value="{{g.grad_year}}" id="{{g.grad_year}}">{{g.grade}}</option>
							{% endfor %}
						</select>
					</td>
					<td class="error" id="grad_year_error"></td>
				</tr>
				<tr><td>Height:</td>
					<td>
						<input type="number" name="height_ft" id="height_ft" min="0"> ft
						<input type="number" name="height_in" id="height_in" min="0" max="11"> in
					</td>
					<td></td>
				</tr>
				<tr><td>T-Shirt Size:</td>
					<td>
						<select type="text" name="tshirt" id="tshirt">
							<option></option>
							{% for size in t_shirt_sizes %}
							<option value="{{size.no0}}" id="{{size.no0}}">{{size.no1}}</option>
							{% endfor %}
						</select>
					</td>
					<td class="error" id="tshirt_error"></td>
				</tr>
				<tr><td>Personal Phone:</td>
					<td><input type="text" name="alt_phone" id="alt_phone" placeholder="Use Family Phone"></td>
					<td class="error" id="alt_phone_error"></td>
				</tr>
				<tr><td>Personal Email:</td>
					<td><input type="text" name="alt_email" id="alt_email" placeholder="Use Family Email"></td>
					<td class="error" id="alt_email_error"></td>
				</tr>
			</table>
			<br><button id="save_student">Save</button>
			<button id="cancel">Cancel</button>
		</div>
	</div>
	<span class="footnote" style="display: none;">*HST calculates ages as of December 31 of the current academic year ({{reg_year|add:-1}}-{{reg_year}})</span>
	<form id="submission" style="display: none;" method="post">{% csrf_token %}
		<input id="data" type="hidden" name="students" value="">
	</form>
	<button style="display: none;" id="submit">Next >></button>
</body>
</html>