<!DOCTYPE html>
<html>
<head>
	<title>HST | Registration</title>
	{% load staticfiles %}
</head>
<link rel="stylesheet" type="text/css" href="{% static 'main/css/status.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabs.css' %}">
<style type="text/css">
	* {
		/*vertical-align: top;*/
	}
	.tab {
		width: calc(100% / {{students|length}} - 12px)
	}
	h2 {
		text-decoration: underline;
		text-align: center;
	}
	table {
		display: inline-block;
		border-spacing: 0;
	}
	.outlined tr {
		outline: solid black 1px;
	}
	td {
		padding: 5px;
	}
	.ib {
		display: inline-block;
	}
	.il {
		display: inline;
	}
	.pane {
		display: block;
	}
	.right {
		text-align: right;
	}
	.center {
		text-align: center;
	}
	button, a.view {
		display: none;
	}
/*	.invoiced {
		background-color: #ff8
	}*/
	.invoice {
		margin: 15px;
		display: block;
	}

	/*.legend {display: none;}*/
	td.cart {
		vertical-align: top;
	}
	td.legend {
		vertical-align: bottom;
		padding-bottom: 0;
	}
	.tab_page table tr {
		/*height: 48px;*/
	}

</style>
<script type="text/javascript">
	function go(url) {
		window.location.replace(url)
	}
	function mo(url) {
		window.location.href = url
	}
</script>
<body>

<table>
	<tr>
		<td rowspan="2">
			
			<div class="tabs">
				{% for student in students %}
				<div onclick="go('/register/student/{{student.id}}/')" class="tab{% if student.id|add:0 == current_student.id|add:0 %} selected_tab {% endif %}" title="{{student}}, age {{student.age}}">
					{{student.prefer}}
				</div>
				{% endfor %}
			</div>
			<div class="tab_page">
				<table class="outlined">
					<thead>
						<th>{{reg_year}}</th>
						<th>Class</th>
						<th>Day</th>
						<th>Time</th>
						<th>Tuition</th>
						<th title="Volunteer hours are NOT cumulitive.  17 + 22 = 22, not 39.  See Policy Agreement for details.">Hours</th>
					</thead>
					{% for enr in menu %}
					<tr class="{{enr.status}}" title="{{enr.public_title}}">
						<td class="center">
							<form class="enroll" action="enroll/">
								<input type="hidden" name="course_id" value="{{enr.course.id}}">
								<input type="hidden" name="status" value="{{enr.status}}">
								<button>Enroll</button>
							</form>
							<form class="aud" action="enroll/">
								<input type="hidden" name="course_id" value="{{enr.course.id}}">
								<input type="hidden" name="status" value="{{enr.status}}">
								<button>Audition</button>
							</form>
							<form class="drop" action="drop/">
								<input type="hidden" name="enr_id" value="{{enr.id}}">
								<input type="hidden" name="status" value="{{enr.status}}">
								<button>Drop</button>
							</form>
							<button class="enroll_disabled" disabled>Enroll</button>
							<a class="view" href="/register/invoice/{{enr.invoice_id}}">Invoice</a>
							<!-- {{enr.status}} -->
						</td>
						<td class="center">{{enr.course.title}}</td>
						<td>{{enr.course.day.short}}</td>
						<td>{{enr.course.start}} to {{enr.course.end}}{{enr.course.tradition.display_semester}}</td>
						<td class="right">${{enr.course.tuition}}</td>
						<td class="right">{{enr.course.vol_hours}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>

		</td>
		<td class="cart">
			
			<div class="cart">
				<h2>Enrollment Cart</h2>
				<center>
					<table class="outlined">
						<thead>
							<th>Student</th>
							<th>Class</th>
							<th>Hours</th>
							<th>Tuition</th>
						</thead>
						{% for enrollment in cart %}
						<tr {% if enrollment.invoice %} onclick="mo('/register/invoice/{{enrollment.invoice.id}}')" {% endif %} class="{{enrollment.status}}" title="Enrollment #{{enrollment.id}}, {{enrollment.status}}">
							<td>
								{% if not enrollment.course.tradition.byFamily %}{{enrollment.student.prefer}}{% endif %}
								<form class="defer">
									<input type="hidden" name="enrollment" value="{{enrollment.id}}">
									<input type="hidden" name="action" value="defer">
									<button>Defer</button>
								</form>
								<form class="add">
									<input type="hidden" name="enrollment" value="{{enrollment.id}}">
									<input type="hidden" name="action" value="add">
									<button>Add</button>
								</form>
							</td>
							<td class="center">{{enrollment.course.title}}</td>
							<td class="right">{{enrollment.course.vol_hours}}</td>
							<td class="right">${{enrollment.course.tuition|floatformat:2}}</td>
						</tr>
						{% endfor %}
						<tr class="total">
							<td><b>Total:</b></td>
							<td class="center">{{nCourses.total}}</td>
							<td class="right">{{hours.total}}</td>
							<td class="right">${{tuition.total|floatformat:2}}</td>
						</tr>
						<tr class="total">
							<td><b>Pending:</b></td>
							<td class="center">{{nCourses.pend}}</td>
							<td class="right">{{hours.pend}}</td>
							<td class="right">${{tuition.pend|floatformat:2}}</td>
						</tr>
						<tr class="total">
							<td><b>Paid:</b></td>
							<td class="center">{{nCourses.paid}}</td>
							<td class="right">{{hours.paid}}</td>
							<td class="right">${{tuition.paid|floatformat:2}}</td>
						</tr>
						<tr class="total">
							<td><b>Due:</b></td>
							<td class="center">{{nCourses.unpaid}}</td>
							<td class="right">{{hours.unpaid}}</td>
							<td class="right">${{tuition.unpaid|floatformat:2}}</td>
						</tr>
					</table>
					<form method="POST" action="/register/process/">{% csrf_token %}
						<button {% if not invoiceable %} disabled {% endif %} class="invoice">Generate Invoice</button>
					</form>
				</center>
				<a href="/family/{{family.id}}/invoices/">View Invoices</a>
			</div>

		</td>
	</tr>
	<tr>
		<td>
			
			<div class="legend">
				<h2>Legend</h2>
				<table class="legend outlined">
					<tr class="eligible">
						<td>Student is eligible to enroll in this class.</td>
					</tr>
					<tr class="aud_need">
						<td>Student is eligible for an audition or skill assessment for this class.</td>
					</tr>
					<tr class="not_elig">
						<td>Student is not eligible for this class.</td>
					</tr>
					<tr class="need_cur">
						<td>
							<!-- Action required before enrolling.  Hover mouse over to see what. -->
							{% if family.has_accepted_policy %}
							Student will be eligible, but must enroll in at least 1 other class first.
							{% else %}
							You must accept HST's {{year}} Policy Agreement before enrolling.
							{% endif %}
						</td>
					</tr>
					<tr class="conflict">
						<td>Student is registered for another class at the same time as this.</td>
					</tr>
					<tr class="aud_pend">
						<td>Student has scheduled an audition or skill assessment for this class.</td>
					</tr>
					<tr class="need_pay">
						<td>This class has been added to the cart, pending tuition payment.</td>
					</tr>
<!-- 					<tr class="aud_lock">
						<td>Student has passed the audition and may no longer drop this class.</td>
					</tr> -->
					<tr class="deferred">
						<td>This item must be paid at or before the Fall Parent Meeting.</td>
					</tr>					
					<tr class="enrolled">
						<td>Student has successfully enrolled in, and paid for, this class.</td>
					</tr>
				</table>
				<div>(F) = Fall Semester only (September - December)</div>
				<div>(S) = Spring Semester only (January - April)</div>
				<div>All other classes run September {{reg_year|add:-1}} - April {{reg_year}}</div>
				<div>Hover over course for eligibility information</div>
			</div>
			
		</td>
	</tr>
</table>


</body>
</html>