<!DOCTYPE html>
<html>
<head>
	<title>HST | My Account</title>
	<style type="text/css">
		.mono {
			font-family: monospace;
			font-size: 120%;
		}
	</style>
</head>
<body>
	<a href="/">Home</a>
	<h1>Account Info</h1>
	<table>
		<tr>
			<td>Username:</td>
			<td class="mono">{{me.username}}</td>
		</tr>
		<tr>
			<td>User ID:</td>
			<td class="mono">{{me.id}}</td>
		</tr>
		<tr>
			<td>{{me.owner.rest_model|title}} HID:</td>
			<td class="mono">{{me.owner.hid}}</td>
		</tr>
		{% if me.owner.rest_model == 'family' %}
		<tr>
			<td>Policy Agreement:</td>
			<td>You agreed to {{me.owner.policyPage}} pages of the {{me.owner.policyYear}} Policy on {{me.owner.policyDate}} <a href="#">Review</a></td>
		</tr>		
		{% endif %}
		<tr>
			<td>Password:</td>
			<td>{{password|safe}} <a href="changepassword">Change</a></td>
		</tr>
		<tr>
			<td>Account Type:</td>
			<td>{{me.owner.rest_model|title}}</td>
		</tr>
		<tr>
			<td>Permission Level:</td>
			<td>{{me.get_permission_display}}</td>
		</tr>
		<tr>
			<td>Account Owner:</td>
			<td>{{me.owner}}</td>
		</tr>
	</table>
<a href="parents">Parent Info</a>
<a href="students">Student Info</a>
<a href="courses">Registration Info</a>
{% if me.permission >= 4 %}<a href="/admin/dashboard/">Admin Dashboard</a>{% endif %}
</body>
</html>