<!DOCTYPE html>
<html>
<head>
	<title>HST | Change Password</title>
	{% load staticfiles %}
	<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<link rel="icon" type="image/png" href="{% static 'main/images/favicon.ico/favicon.ico' %}">
</head>
<body id="login">
	<a href="/">Home</a>
	<center>
		<h1>Change Password</h1>
		<form method="post">{% csrf_token %}
			<table>
				<tr>
					<td>Old Password:</td>
					<td><input type="password" name="current_pw"></td>
					<td class="error">{{e.current_pw}}</td>
				</tr>
				<tr>
					<td>New Password:</td>
					<td><input type="password" name="password"></td>
					<td class="error">{{e.password}}</td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><input type="password" name="pw_confm"></td>
					<td class="error">{{e.pw_confm}}</td>
				</tr>
			</table>
			<button>Submit</button>
		</form>
	</center>
</body>
</html>