{% load staticfiles %}
<title>Hot Code</title>
<style type="text/css">
	.enlarge, textarea, input {
		font-size: 130%;
	}
	table {
		/*font-size: 75%;*/
	}
	.session, .request {
		font-family: monospace;
	}
		.number {
			color: blue;
		}
			.int {}
			.long {}
			.float {}
			.complex {
				font-style: italic;
				color: purple;
			}
		.string {}
			.str {
				font-family: sans-serif;
			}
			.unicode {
				font-family: serif;
			}
			.buffer {
				font-style: italic;
			}
		.bool {
			font-family: sans-serif;
		}
			.True {
				color: green;
			}
			.False {
				color: darkred;
			}
		.list {
			border: solid gray 1px;
			display: inline-block;
		}
		.tuple {
			border: solid gray 1px;
			border-radius: 5px;
			display: inline-block;
		}
		.dict {
			border: solid black 1px;
		}
			.pair {}
				.key {
					font-family: monospace;
				}
				.value {}
		.object {}
			.type {}
			.strobj {}
</style>
<script src="{% static 'main/js/jquery.js' %}" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {

		$('.show_req').click(function() {
			$('.show_req').hide()
			$('.hide_req').show()
			$('.request').show()
		})

		$('.hide_req').click(function() {
			$('.show_req').show()
			$('.hide_req').hide()
			$('.request').hide()
		})

	})
</script>
<div class="enlarge">
Python Hot Code:
<form action="/run/" method="post">
	{% csrf_token %}
	<textarea name="command" rows="10" cols="50" style="font-family: monospace;">{{ command }}</textarea>
	<input type="submit" value="RUN">
</form>
<div class="session">{{session|safe}}</div>
<a href="/clear">Clear Session</a>
</div>
<div style="text-align: right;"><a href="/nuke">Nuke Database</a></div>
<button class="show_req">Show Full Request</button>
<button style="display: none;" class="hide_req">Hide Request</button>
<div style="display: none;" class="request">{{request|safe}}</div>
