<title>Hot Code</title>
<style type="text/css">
	.enlarge, textarea, input {
		font-size: 130%;
	}
	table {
		/*font-size: 75%;*/
	}
	.session {
		font-family: monospace;
	}
		.number {
			color: blue;
		}
			.int {}
			.long {}
			.float {}
			.complex {
				font-style: italic;
				color: purple;
			}
		.string {}
			.str {
				font-family: sans-serif;
			}
			.unicode {
				font-family: serif;
			}
			.buffer {
				font-style: italic;
			}
		.bool {
			font-family: sans-serif;
		}
			.True {
				color: green;
			}
			.False {
				color: darkred;
			}
		.list {
			border: solid gray 1px;
		}
		.tuple {
			border: solid gray 1px;
			border-radius: 5px;
		}
		.dict {
			border: solid black 1px;
		}
			.pair {}
				.key {}
				.value {}
		.object {}
			.type {}
			.strobj {}
</style>
<div class="enlarge">
Python Hot Code:
<form action="/run" method="post">
	{% csrf_token %}
	<textarea name="command" rows="10" cols="50" style="font-family: monospace;">{{ command }}</textarea>
	<input type="submit" value="RUN">
</form>
<div class="session">{{session|safe}}</div>
<a href="/clear">Clear Session</a>
</div>
<div style="text-align: right;"><a href="/nuke">Nuke Database</a></div>
