Python Hot Code:
<style type="text/css">
	 * {
		font-size: 110%;
	}
</style>
<form action="/run" method="post">
	{% csrf_token %}
	<textarea name="command" rows="10" cols="50" style="font-family: monospace;">{{ command }}</textarea>
	<input type="submit" value="RUN">
</form>
Session:
<!-- <table>
	<thead>
		<th>Key</th>
		<th>Value</th>
	</thead>
	{% for key in session %}
	<tr>
		<td>{{key}}</td>
		<td></td>
	</tr>
	{% endfor%}
</table> -->
<a href="/clear">Clear Session</a>
<a href="/nuke">Nuke Database</a>