<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HST | Homepage</title>
		{% load staticfiles %}
		<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<link rel="icon" type="image/png" href="{% static 'main/images/favicon.ico/favicon.ico' %}">
	</head>
	<body id="index">
		<h1>HST Homepage</h1>
		{% if name %}
		<p>Hello {{name}}!</p>
		<a href="/logout">Log Out</a>
		{% else %}
		<a href="/login">Returning User Login</a>
		{% endif %}<br>
		<a href="/register">First-Time Registration</a><br>
		<br><br><br><br><!-- spacing with <br> tags because YOLO -->
		<a href="/rest/">REST Framework</a>
		<a href="/seed/load/">JSON Bulk Data Interface</a>
	</body>
</html>
