<!DOCTYPE html>
<html>
<head>
	<title>Admin | Dashboard</title>
</head>
<body>
<a href="/myaccount/">&larr; Return to My Account</a>
<h1>HST Admin Dashboard</h1>
<ul>
	<li><a href="/admin/auditions/">Audition Results Interface</a></li>
	<li><a href="/admin/year/">Create New Year's Courses</a></li>
	<li><a href="/admin/policy/index/">HST Policy Agreements</a></li>
	<li><a href="/admin/deferred/">Deferred Prepaid Tickets</a></li>
	<li><a href="/rest/">REST Framework</a></li>
	<li><a href="/seed/load/">JSON Bulk Data Interface</a></li>
</ul>
</body>
</html>