<!DOCTYPE html>
<html>
<head>
	<title>HST | REST Home</title>
</head>
<body>
	<h1>HST Website Backend REST Framework</h1>
	<h3>Main:</h3>
	<a href="index/address">Addresses</a>
	<a href="index/family">Families</a>
	<a href="index/parent">Parents</a>
	<a href="index/student">Students</a>
	<!-- <a href="index/user">Users</a> -->
	<h3>Program:</h3>
	<a href="index/coursetrad?e=True">Course Traditions</a>
	<a href="index/course">Courses</a>
	<a href="index/enrollment">Enrollments</a>
	<a href="index/audition">Auditions</a>
	<h3>Reports:</h3>
	<a href="/reports/students/">Students</a>

</body>
</html>