<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form>
	<select name="model">
		<option value="student">Student</option>
		<option value="family">Family</option>
		<option value="parent">Parent</option>
		<option value="user">User</option>
		<option value="course">Course</option>
		<option value="coursetrad">Course Tradition</option>
		<option value="enrollment">Enrollment</option>
		<option value="address">Address</option>
		<option value="invoice">Invoice</option>
		<option value="venue">Venue</option>
	</select>
	<input type="text" name="query">
	<button>Search</button>
</form>
</body>
</html>