<!DOCTYPE html>
<html>
<head>
	<title>HST | {{thing}}</title>
</head>
<body>
	<h1>{{thing}}</h1>
	<h2>{{Model}}</h2>
	<form action="/rest/update/{{model}}/{{thing.id}}" method="POST"> {% csrf_token %}
		<table>
			<tr>
				<td>id:</td>
				<td>{{thing.id}}</td>
			</tr>
			{% for kvp in display %}
			<tr>
				<td>{{kvp.field}}:</td>
				<td>{{kvp.input|safe}}</td>
			</tr>
			{% endfor %}
		</table>
		<button type="submit">Update</button>
		<a href="/rest/show/{{model}}/{{thing.id}}">Cancel</a>
	</form>
</body>
</html>