<!DOCTYPE html>
<html>
<head>
	<title>HST | {{thing}}</title>
</head>
<body>
	<h1>{{thing}}</h1>
	<h2>{{Model}}</h2>
	<a href="/rest/show/{{model}}/{{thing.id|add:'-1'}}">&lt;Prev</a>
	<a href="/rest/show/{{model}}/{{thing.id|add:'1'}}">Next&gt;</a>
	<table>
		<tr>
			<td>id:</td>
			<td>{{thing.id}}</td>
		</tr>
		{% for kvp in display %}
		<tr>
			<td>{{kvp.field}}:</td>
			<td>{{kvp.input|safe}}</td>
		</tr>
		{% endfor %}
	</table>
	<a href="/rest/edit/{{model}}/{{thing.id}}">Edit</a><br>
</body>
</html>