.public * {
	vertical-align: top;
        font-family: Verdana, Arial, sans-serif;
}
.public a {
       
         background-color: Navy;
         border:1px solid #660000;
         border-radius:5px;
         color:#fff;
         margin-right:10px;
         text-decoration:none;
         color: white;
         padding:5px 5px 5px 5px;
         float: left;
         margin: 20px 1px 5px 5px;
         width: 150px;
         text-align: center;
}
.public a:hover {
         background-color: CornflowerBlue;
}
.public h1 {
         margin-top: 30px;
         font-size: 24px;
}

.public .error {
	color: red;
}

.public form {
	vertical-align: middle;
	margin: 0 auto;
}

.public .info {
	margin: 0 auto;
}
.public img{
        width: 150px;
        float: left;
        margin-left: 20px

}

.public .close {
       position: absolute;
       right: 10%;
       bottom: 2%;
       color: rgba(88, 88, 90, 0.7);
}
.public center {
       clear: both;
}

.public .instructions {
       display: block;
       width: 100%;
       clear: both;
       margin: 10px 5px;
}


.public table {
       font-size: 14px;
}

.admin #logo {
  display: none;
}