<!DOCTYPE html>
<html>
<head>
	<title>HST | Invoice</title>
	<style type="text/css">
		table {
			border-spacing: 0px;
		}
		td, th {
			padding: 2px;
		}
		div {
			margin: 16px;
		}
		.money {
			text-align: right;
		}
		.sum th {
			padding-top: 3px;
			border-top: solid black 1px;
		}
		.nonexist td {
			color: darkgray;
			text-decoration: line-through;
			font-style: italic;
		}
		#paypal {
			background-color: #f8c700;
			font-family: sans-serif;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 20px;
			border-radius: 10px;
			/*font-style: italic;*/
		}
	</style>
</head>
<body>
	<a href="/">Home</a>
	<center>
		<h1>HST Cultural Arts, Inc.</h1>
		<h2>{{invoice.year|add:-1}}-{{invoice.year}} Tuition Invoice</h2>
		<table>
			<tr>
				<td>Invoice ID:</td>
				<td>#{{invoice.id}}</td>
			</tr>
			<tr>
				<td>Family:</td>
				<td>{{invoice.family.unique_last}}</td>
			</tr>
			<tr>
				<td>Date:</td>
				<td>{{invoice.created_at|date}}</td>
			</tr>
			<tr>
				<td>Amount:</td>
				<td>${{invoice.amount|floatformat:2}}</td>
			</tr>
			<tr>
				<td>Status:</td>
				<td>{{invoice.get_status_display}}</td>
			</tr>
		</table>
		<h2>Items</h2>
		<table>
			<thead>
				<th>Student</th>
				<th>Class</th>
				<th>Amount</th>
			</thead>
			{% for item in invoice.items %}
			<tr class="{{item.status}}">
				<td>{{item.display_student}}</td>
				<td>{{item.course}}</td>
				<td class="money">${{item.tuition}}</td>
			</tr>
			{% endfor %}
			<thead class="sum">
				<th>Total:</th>
				<th><!-- {{invoice.items|length}} items --></th>
				<th class="money">${{invoice.amount|floatformat:2}}</th>
			</thead>
		</table>
		<form style="display: none;" action="/register/invoice/{{invoice.id}}/paypal/">
			<button {% if invoice.status != 'N' %}disabled{% endif %}>Pay now with PayPal</button>
		</form>
		<!-- <div><a href="/register/invoice/{{invoice.id}}/paypal/">Pay invoice now with PayPal</a></div> -->
		<div>
 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="business" value="{{email}}">
        <!-- Specify a Buy Now button. -->
        <input type="hidden" name="cmd" value="_xclick">
        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value="HST Tuition Invoice #{{invoice.id}}"> <!-- Add Description e.g your room type Required-->
        <input type="hidden" name="amount" value="{{invoice.amount}}"> 
        <!-- Dynamically add Total Amount Required-->
        <input type="hidden" name="currency_code" value="USD"> 
        <!-- Update to your currency -->
        <input type="hidden" name="invoice" value="{{invoice.id}}" id="invoice"> 
        <!-- Add Unique invoice for each transaction -->
        <input type="hidden" name="notify_url" value='{{host}}/ipn/{{invoice.code}}' /> 
        <!-- Please add IPN URL You can use this service to automate back-office and administrative functions, including fulfilling orders, tracking customers, and providing status and other information related to transactions. -->
        <input type='hidden' name='cancel_return' value="{{host}}/register/invoice/{{invoice.id}}" /> 
        <!-- Take customers to this URL when they cancel their checkout -->
        <input type='hidden' name='return' value="{{host}}/register/invoice/{{invoice.id}}?ref=paypal" /> 
        <!-- Take customers to this URL when they finish their checkout  -->
        <!-- Display the payment button. -->
        <button id="paypal" title="PayPal - The safer, easier way to pay online">Pay with PayPal</button>
        <!-- <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" > -->
    </form>
</div>
</center>
</body>
</html>